.footnotes-listing-block {
  & :target {
    background: yellow;
  }

  ol {
    overflow-wrap: break-word;
    word-wrap: break-word;

    li {
      overflow-wrap: break-word;
      word-wrap: break-word;

      a {
        overflow-wrap: break-word;
        word-break: break-all;
        word-wrap: break-word;
      }
    }
  }
}

.slateFootnotes {
  .footnotes-listing-block {
    h3:empty {
      &::after {
        content: attr(title);
        opacity: 0.333;
      }
    }
  }
}
