.footnotes-listing-block {
  & :target {
    background: yellow;
  }

  ol {
    word-wrap: break-word;
    overflow-wrap: break-word;
    
    li {
      word-wrap: break-word;
      overflow-wrap: break-word;
      
      a {
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-all;
      }
    }
  }
}

.slateFootnotes {
  .footnotes-listing-block {
    h3:empty {
      &::after {
        content: attr(title);
        opacity: 0.333;
      }
    }
  }
}
